<%- include('header') %>
    <main class="container">
        <% if(articles){ %> 
        <% for(let article of articles){%>
            <% let d = article.article_date %>
            <article class="article-link">
                <header class="article-header">
                    <a href=<%= '/post/' + article.article_id %>> <%=article.article_title%></a>
                    <span class="article-info">Par <a  href=<%= "/user/" + article.user_id %> class="username"><%= article.user_name %></a> le <span class="date"><%=` ${d.getDate()}/${d.getMonth()}/${d.getFullYear()}, ${d.getHours()}h${d.getMinutes()}`%>
                </header>
                </article>
            </article>
        <% }} %>
    </main>
<%- include('footer') %>