<%- include('header') %>
<% if(!error){ %> 
    <% let d = article.article_date %> 
    <main class="container">
        <article>
        <header class="article-header">
            <h1 class="article-title"><%= article.article_title %> </h1>
            <span class="article-info">Par <a  href=<%= "/user/" + article.user_id %> class="username"><%= article.user_name %></a> le <span class="date"><%=` ${d.getDate()}/${d.getMonth()}/${d.getFullYear()}, à ${d.getHours()}h${d.getMinutes()}`%>
            </span>
        </header>
        <main class="article-content">
            <%= article.article_content %>
        </main>
    </article>
    <hr>
        <form class="comment-form" method="POST" autocomplete="off" >
            <div class="user-area">
                <h3>Poster un commentaire</h3>
                <div>
                    <textarea class="form-input" name="content" placeholder="Contenu du commentaire" spellcheck="false"></textarea>
                </div>
            <button id="submit" type="submit">Envoyer</button>
        </form>
        <% for(let comment of article.comments){ %>
            <% let cd = comment.comment_date %>
            <%= article.comment_date %> 
            <div class="comment">
                <header class="comment-header">
                    Par <a href=<%= "/user/" + comment.user_id %>> <%= comment.user_name %></a> le <%=` ${cd.getDate()}/${cd.getMonth()+1}/${cd.getFullYear()}, à ${cd.getHours()}h${cd.getMinutes()}`%>
                </header>
                <main class="comment-content">
                    <p><%= comment.comment_content %> </p>
                </main>
            </div>
        <% } %> 
    </main>
<% } else{%> 
    <div class="status-message" id="red"><h3>Erreur</h3><p><%= error %></p></div>
<% }%> 
<%- include('footer') %>