<%- include('header') %>
<header class="site-header">
    <a href="/"><h1 class="site-logo">E+Net</h1></a>
    <nav class="nav-bar">
        <span>
            <a href="/" id="selected">Accueil</a>
            <a href="/chat">Salon</a>
            <a href="/poster">Poster</a>
        </span>
        <span>
            <a href="/login">Login</a>
        </span>
    </nav>
</header>
<% if(!error){ %> 
    <% let d = article.article_date %> 
    <main class="container">
        <article>
        <header class="article-header">
            <h1 class="article-title"><%= article.article_title %> </h1>
            <span class="article-info">Par <a  href=<%= "/user/" + article.user_id %> class="username"><%= article.user_name %></a> le <span class="date"><%=` ${d.getDate()}/${d.getMonth()}/${d.getFullYear()}, à ${d.getHours()}h${d.getMinutes()}`%>, <%= article.article_views %> vue(s).
            </span>
        </header>
        <main class="article-content">
            <%- article.article_content %>
        </main>
        <% if(user_id == article.user_id){ %> 
            <form method="post" action=<%= `/post/delete/${article.article_id}/` %> >
                <button class="form-button" type="submit">Suprimmer</button>
            </form>
        <% } %> 
    </article>
    <hr>
        <form class="comment-form" method="POST" autocomplete="off" >
            <div class="user-area">
                <h3>Poster un commentaire</h3>
                <div>
                    <textarea class="form-input" name="content" placeholder="Contenu du commentaire" spellcheck="false"></textarea>
                </div>
            <button id="submit" type="submit">Envoyer</button>
        </form>
        <div class="page-buttons">
            <a href=# id="last">Page précédente</a> <a href=# id="next">Page suivante</a>
        </div>
        <div class="comments">
            <% for(let comment of article.comments){ %>
                <% let cd = comment.comment_date %>
                <%= article.comment_date %> 
                <div class="comment">
                    <header class="comment-header">
                        Par <a href=<%= "/user/" + comment.user_id %>> <%= comment.user_name %></a> le <%=` ${cd.getDate()}/${cd.getMonth()+1}/${cd.getFullYear()}, à ${cd.getHours()}h${cd.getMinutes()}`%>
                    </header>
                    <main class="comment-content">
                        <p><%- comment.comment_content %></p>
                    </main>
                    <% if(comment.user_id == user_id){ %> 
                        <form method="post" action=<%= `/post/${comment.comment_article}/delete_comment/${comment.comment_id}` %> >
                            <button class="form-button" type="submit">Suprimmer</button>
                        </form>
                    <% } %> 
                </div>
            <% } %> 
        </div>
    </main>
<% } else{%>
    <div class="status-message" id="red"><h3>Erreur</h3><p><%= error %></p></div>
<% }%>
<script>let last=document.getElementById("last");let next=document.getElementById("next");let container=document.querySelector(".comments");const urlParams=new URLSearchParams(window.location.search);let curr_start=parseInt(urlParams.get("start"))||0;next.addEventListener("click",e=>{console.log("next");e.preventDefault();if(container.childElementCount==6){curr_start+=6;window.location.replace(`${window.location.pathname }?start=${ curr_start }`)}});last.addEventListener("click",e=>{console.log("last");e.preventDefault();if(curr_start>=6){curr_start-=6;window.location.replace(`${window.location.pathname }?start=${ curr_start }`)}});if(container.childElementCount==0){if(curr_start>=6){curr_start-=6;window.location.replace(`${window.location.pathname }?start=${ curr_start }`)}}</script>
<!--<script src="http://localhost:8000/js/post.js"></script>-->
<%- include('footer') %>