<%- include('header') %>
<% if(!error){ %> 
    <main class="container">
        <article>
        <header class="article-header">
            <h1 class="article-title"><%= article.article_title %> </h1>
            <span class="article-info">Par <span class="username"><%= article.article_user %></span> le <%= article.article_date %>
        </span>
            <span class="views"><%= article.article_views %> vue(s)</span>
        </header>
        <main class="article-content">
            <%= article.article_content %>
        </main>
        </article>
    </main>
<% } else{%> 
    <div class="status-message" id="red"><h3>Erreur</h3><p><%= error %></p></div>
<% }%> 
<%- include('footer') %>