<%- include('header') %>
    <main class="container">
        <% if(message){ %> 
            <div class="status-message" id="<%=message.color %>"><h3><%=message.title %></h3><p><%=message.content %></p></div>
        <% } %> 
        <div class="form-container">
            <header class="form-header">
                <h1>Ecrire un post</h1>
            </header>
            <form class="upload-form" action="" method="POST" autocomplete="off" action="/poster">
                <div class="user-area">
                    <h3>UTILISATEUR</h3>
                    <div>
                        <input class="form-input" name="username" type="text" placeholder="Nom d'utilisateur">
                    </div>
                </div>
                <div class="article-area">
                    <h3>POST</h3>
                    <input class="form-input" name="title" type="text" placeholder="Titre">
                    <textarea class="form-input" name="content" placeholder="Contenu" spellcheck="false"></textarea>
                </div>
                <button id="submit" type="submit">Submit</button>
            </form>
        </div>
    </main>
<%- include('footer') %>